<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
  
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   
   <link href="https://fonts.googleapis.com/css2?family=Joti+One&family=Shantell+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Joti+One&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"> 
    <title>Dictionary</title>
    <style>
        body{
            margin:0px;
        }
        .container{
            height: 100%;
        }
        .bgim{
            width:60%;
            height:100%;
            background-image: url(images/dictionaryimage.jpeg);
            position: relative;
    opacity: 0.45;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        }
        .conte{
            display:inline;
            width: 40%;
            position: absolute;
    right: 10px;
    top: 30%;
   font-family: "Joti One",serif;
}
    
    h3{
    opacity: 0;
      animation: appearFromLeft 1s forwards;
    
        }
        @keyframes appearFromLeft {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    @media only screen and (max-width: 768px) {

        .bgim{
            width: 100%;
            background-size: cover;
            background-attachment: fixed;
        }
        
        h3{
            font-size:2.5rem;
        }
        i{
            color:#0d0a0f;
        }
        .conte{
            left:20%;
            top:10%;
        }
    }
    </style>
</head>
<body style="background-color: #202c3ff2;">
            
     <div class="container" >      
         <div class="bgim">
                
            </div>
            <div class="conte">
                <h3>Tired of searching the words in Dictionary??</h3>
                <a href="/content"><i class="fa-solid fa-forward fa-fade fa-2xl" style="color: #aeacaf;"></i></a>
            </div>
        
    </div>

   </section>
    
</body>
</html>