body{
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  color:white;
  background-color: whitesmoke;
    

}
.col{
    margin-top: 20px;
}
.wrd{
    display: inline;
}
#playButton{
    height: 40px;
    width: 40px;
    display: inline;
    position: relative;
    left:20px;
    bottom:10px;
}

section .index{
    height: 830px;
    margin-top:10%;
    display:flex;

}

.header{
    padding-top: 2%;
    background-color: #23344E;
    
}
.header h1{
    margin-bottom: 20px;
}
.col{
    display:flex;
    position: relative;;
}
h3{
    font-size: 3rem;
    
    }
.btn{
    margin:auto;
    position: absolute;
    bottom:20px;
    left:40%;
    background-color: #67B7C9;
}
.container{
   }
.buton{
    background: none;
    border:0px;
    color:white;
}
input{
    width:500px;
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
    margin:2%;
    background: none;
    height:50px;
    border-top:0;
    border-left:0;
    border-right:0;
    outline:none;

}
.ans{
    height: 700px;
    background-color: whitesmoke;
    color:#23344E;

    
}
.card1{
    width:300px;
    perspective: 1000px; /* Add perspective to create 3D effect */
    transition: transform 0.5s;
    text-align: left;
    --bs-card-border-radius:4%;
    
    border: 0px;
    

    }
    .card1:hover {
        transform:  translateZ(+80px); /* Apply the 3D transform effect */
    }
    .content {
        width: 300px;
        height: 344px;
        padding-left: 4%;
        padding-right: 20px;
        border-radius:4%;
        background-color: hsla(219, 69%, 25%, 0.56);
        color:black;
        transition: transform 0.5s;
        overflow-y: scroll;
        
    }
    .content:hover{
        transform:  translateZ(+80px);
    }
    .leftcnt{
       font-weight:bold;

    }
    
      